
<form action="/favourites" method="post"
    class="flex flex-1 justify-center w-auto shadow-lg hover:scale-110 transition  bg-pink-600 hover:bg-pink-700 text-white px-2  rounded-lg">
    <button type="submit" class=" font-semibold text-center flex-1"> Add To favourite</button>
    <input type="hidden" name="homeId" value="<%= home.id %>">
</form>