<%- include('../partials/head') %>
    </head>

    <body>
        <%- include('../partials/nav') %>

        <p class="text-amber-300 text-2xl">This is reserve page of this website</p>
    </body>
</html>