
h1{
    color:blueviolet;
}
body{
    font-family: 'arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    /* background-color:plum; */
}
header{
    background-color: #ff5a5f;
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    
    margin: 50%;
    align-self: center;
    padding: 10rem 13rem;
    color: blueviolet;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 1.5rem;
    text-wrap: nowrap;
}

